:root{
    --font:sans-serif;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.left,
.right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    border-right: 1px solid #ccc;
}

.chat-prompt {
    height: calc(100% - 40px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-area {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
}






.chat-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.chat-header {
    background-color: #0176d3;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-header-container {
    display: flex;
    flex-direction: row;
}

.chat-header-min {
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}

.chat-header-more {
    margin-right: 10px;

}

.chat-header-button {
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    cursor: default;
    padding: 0;

    border-radius: 0.25rem;
    background-color: #0176d3;
    border: 0
}

.chat-header-button:hover {
    background-color: #4fa5ec;
}

.chat-header-title {
    margin-top: 6px;
}

.chat-body {
    padding: 20px 20px 20px 10px;
    /* height:  300px; */
    height: 55vh;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}
.chat-footer input:focus-visible  {
    box-shadow: none;
    border: 1px solid  #005290;
}



.chat-footer button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}


.chat-bot-msg-cell {
    display: flex;
    flex-direction: row;
    margin:0 3rem 0.25rem 0;
}

.chat-bot-avtar {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}

.chat-bot-avtar-img {
    height: 30px;
    width: 30px;
}

.chat-bot-msg-container {
    flex-grow: 1;
}

.chat-bot-msg {
    overflow-wrap: anywhere;
    background-color: #f2f2f3;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.875em;
    font-family: var(--font, Arial, sans-serif), "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "Noto Color Emoji", "EmojiOne Color";
}

.chat-bot-msg-timestamp {
    font-family: "sans-serif", "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "Noto Color Emoji", "EmojiOne Color";
    font-size: 10px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
}

.chat-bot-msg-timestamp-time{
    font-weight: 400;
}





.chat-human-msg-cell {
    display: flex;
    flex-direction: row;
    margin:0 0 0.25rem 3rem;
    justify-content: end;
}

.chat-human-avtar {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}

.chat-human-avtar-img {
    height: 30px;
    width: 30px;
}

.chat-human-msg-container {
    flex-grow: 0;
}

.chat-human-msg {
    overflow-wrap: anywhere;
    background-color: #005290;
    color: #ffffff;
    border-radius: 0.5rem 0.5rem  0 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.875em;
    font-family: var(--font, Arial, sans-serif), "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "Noto Color Emoji", "EmojiOne Color";
}

.chat-human-msg-timestamp {
    font-family: "sans-serif", "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "Noto Color Emoji", "EmojiOne Color";
    font-size: 10px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
}

.chat-human-msg-timestamp-time{
    font-weight: 400;
}



/* thinking msg cell */

.chat-thinking-msg-cell{
    display: flex;
    flex-direction: column;
}
.chat-thinking-msg {
    font-family: "sans-serif", "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "Noto Color Emoji", "EmojiOne Color";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
.chat-thinking-image, .chat-thinking-img {
  height: 30px;
  width: 30px;
}
